<?xml version="1.0"?>
<robot name="drone">

  <!-- Base link -->
  <link name="base_link">
    <!-- Inertial properties -->
    <inertial>
      <mass value="1.692483" />
      <inertia
        ixx="0.04304" ixy="0.000007835" ixz="-0.000050777918"
        iyy="0.04288" iyz="0.00000387923" izz="0.06955" />
      <origin xyz="0.002531 -0.000142 -0.022411" rpy="0 0 0" />
    </inertial>

    <!-- Visual representation -->
    <visual>
      <geometry>
        <mesh filename="package://drone/drone.stl"/>  <!-- Path to your STL model -->
      </geometry>
      <material name="blue">
        <ambient rgba="0 0 1 1"/>
      </material>
    </visual>

    <!-- Collision representation -->
    <collision>
      <geometry>
        <mesh filename="package://drone/drone.stl"/>  <!-- Path to your STL model -->
      </geometry>
    </collision>
  </link>

</robot>
